{% extends "Base.html" %}
{% block maincontent %}

{% if not wrong_user %}

{% if prof_form.errors %}
Your information contains erorrs and can not be saved
{% endif %}

<form action='{{ request.path }}' method='POST'>
    <table>
        {{ prof_form.as_table }}    
    </table>
    <div style="margin-left:20px">
        <input type='submit' value="Save" />
    </div>
</form>

{% else %}
<span style="color:red">{{ wrong_user }}</span>
{% endif %}

<br/>
<a href='{% url list_profile %}'>&lt;&lt; Back to list</a>

{% endblock %}

{% block media %}
{{ block.supper }}
{{ prof_form.media }}
{% endblock %}